In [31]:
# Import all necessary libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

## Q1. Write a python program to display all the header tags from wikipedia.org and make data frame.

### Page Content

In [32]:
# Send a request to the web page server to get the source code of wikipedia
 
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

page

In [66]:

# Get the Wikipedia main page

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

# Create a BeautifulSoup object
soup = BeautifulSoup(response.content, 'html.parser')

# Find all the header tags
headers = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])

# Create a list of header tags
header_tags = []
for header in headers:
    header_tags.append(header.text)

# Create a data frame
df = pd.DataFrame({'Header': header_tags})

# Display the data frame
df

                                         Header
0                                            \n
1                             Former Presidents
2           Shri Ram Nath Kovind (birth - 1945)
3             Shri Pranab Mukherjee (1935-2020)
4   Smt Pratibha Devisingh Patil (birth - 1934)
5            DR. A.P.J. Abdul Kalam (1931-2015)
6            Shri K. R. Narayanan (1920 - 2005)
7           Dr Shankar Dayal Sharma (1918-1999)
8               Shri R Venkataraman (1910-2009)
9                  Giani Zail Singh (1916-1994)
10        Shri Neelam Sanjiva Reddy (1913-1996)
11         Dr. Fakhruddin Ali Ahmed (1905-1977)
12     Shri Varahagiri Venkata Giri (1894-1980)
13                 Dr. Zakir Husain (1897-1969)
14     Dr. Sarvepalli Radhakrishnan (1888-1975)
15             Dr. Rajendra Prasad (1884-1963)
16                \r\n        Subscribe\r\n

##  Q2. Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [77]:
page2 = requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page2

In [78]:
president_list = soup.find('div', class_="presidentListing")
president_list

<div class="presidentListing">
<h3>Shri Ram Nath Kovind (birth - 1945)</h3>
<p><span class="terms">Term of Office:</span> 25 July, 2017 to 25 July, 2022 </p>
<p><a href="https://ramnathkovind.nic.in" target="_blank">https://ramnathkovind.nic.in</a></p>
</div>

In [81]:
# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(page2.content, "html.parser")

# Find all the div elements with class "presidentListing"
president_list_all = soup.find_all('div', class_='presidentListing')

# Create empty lists to store president names and terms of office
names = []
terms_of_office = []

# Iterate over each president div
for president_all in president_list_all:
    # Extract the president's name
    name = president_all.find('h3').text.strip()
    names.append(name)

    # Extract the term of office
    term_of_office = president_all.find('p').text.split(':')[1].strip()
    terms_of_office.append(term_of_office)

# Create a DataFrame
df = pd.DataFrame({'President Name': names, 'Term of Office': terms_of_office})

# Display the DataFrame
df

,President Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

## Q3 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating

In [94]:
# Function to scrape and create DataFrame for ODI teams
def scrape_odi_teams():
    # Send a GET request to the website
   
    page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

    # Create a BeautifulSoup object to parse the HTML content
    soup = BeautifulSoup(page.content, 'html.parser')

    # Find the table containing team rankings
    table = soup.find('table', class_='table')

    # Extract the data from the table
    teams = []
    matches = []
    points = []
    ratings = []

    rows = table.find_all('tr')
    for row in rows[1:11]:
        columns = row.find_all('td')
        teams.append(columns[1].text.strip())
        matches.append(columns[2].text.strip())
        points.append(columns[3].text.strip())
        ratings.append(columns[4].text.strip())

    # Create a DataFrame
    df = pd.DataFrame({'Team': teams, 'Matches': matches, 'Points': points, 'Rating': ratings})

    return df

# Scrape ODI teams
odi_teams_df = scrape_odi_teams()
print('----------------------------------------')
print("     Top 10 ODI Teams")
print('----------------------------------------')
odi_teams_df

----------------------------------------
     Top 10 ODI Teams
----------------------------------------

               Team Matches Points Rating
0    Australia\nAUS      23  2,714    118
1     Pakistan\nPAK      20  2,316    116
2        India\nIND      33  3,807    115
3   New Zealand\nNZ      27  2,806    104
4      England\nENG      24  2,426    101
5  South Africa\nSA      19  1,910    101
6   Bangladesh\nBAN      25  2,451     98
7  Afghanistan\nAFG      10    878     88
8     Sri Lanka\nSL      21  1,682     80
9   West Indies\nWI      25  1,797     72

In [96]:
# Function to scrape and create DataFrame for ODI batsmen
def scrape_odi_batsmen():
    # Send a GET request to the website
    #page = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
    page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

    # Create a BeautifulSoup object to parse the HTML content
    soup = BeautifulSoup(page.content, 'html.parser')

    # Find the table containing batsmen rankings
    table = soup.find('table', class_='table')

    # Extract the data from the table
    batsmen = []
    teams = []
    ratings = []

    rows = table.find_all('tr')
    for row in rows[1:11]:
        columns = row.find_all('td')
        batsmen.append(columns[1].text.strip())
        teams.append(columns[2].text.strip())
        ratings.append(columns[3].text.strip())

    # Create a DataFrame
    df = pd.DataFrame({'Batsman': batsmen, 'Team': teams, 'Rating': ratings})

    return df

# Scrape ODI batsmen
odi_batsmen_df = scrape_odi_batsmen()
print('----------------------------------------')
print("            Top 10 ODI Batsmen:")
print('----------------------------------------')
odi_batsmen_df

----------------------------------------
            Top 10 ODI Batsmen:
----------------------------------------

                 Batsman Team Rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    738
5           David Warner  AUS    726
6           Harry Tector  IRE    722
7            Virat Kohli  IND    719
8        Quinton de Kock   SA    718
9           Rohit Sharma  IND    707

In [98]:
# Function to scrape and create DataFrame for ODI bowlers
def scrape_odi_bowlers():
    # Send a GET request to the website
    page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

    # Create a BeautifulSoup object to parse the HTML content
    soup = BeautifulSoup(page.content, 'html.parser')

    # Find the table containing bowlers rankings
    table = soup.find('table', class_='table')

    # Extract the data from the table
    bowlers = []
    teams = []
    ratings = []

    rows = table.find_all('tr')
    for row in rows[1:11]:
        columns = row.find_all('td')
        bowlers.append(columns[1].text.strip())
        teams.append(columns[2].text.strip())
        ratings.append(columns[3].text.strip())

    # Create a DataFrame
    df = pd.DataFrame({'Bowler': bowlers, 'Team': teams, 'Rating': ratings})

    return df

# Scrape ODI bowlers
odi_bowlers_df = scrape_odi_bowlers()
print('----------------------------------------')
print("Top 10 ODI Bowlers:")
print('----------------------------------------')
odi_bowlers_df

----------------------------------------
Top 10 ODI Bowlers:
----------------------------------------

             Bowler Team Rating
0    Josh Hazlewood  AUS    705
1    Mohammed Siraj  IND    691
2    Mitchell Starc  AUS    686
3        Matt Henry   NZ    667
4       Trent Boult   NZ    660
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    652
7  Mujeeb Ur Rahman  AFG    637
8     Mohammad Nabi  AFG    631
9    Shaheen Afridi  PAK    630

## Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [117]:
# Function to scrape and create DataFrame for top 10 ODI teams in women's cricket
def scrape_odi_women_teams():
    # Send a GET request to the website
    page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

    # Create a BeautifulSoup object to parse the HTML content
    soup = BeautifulSoup(page.content, 'html.parser')

    # Find the table containing team rankings
    table = soup.find('table', class_='table')

    # Extract the data from the table
    teams = []
    matches = []
    points = []
    ratings = []

    rows = table.find_all('tr')
    for i, row in enumerate(rows[1:11], 1):
        columns = row.find_all('td')
        teams.append(columns[1].text.strip())
        matches.append(columns[2].text.strip())
        points.append(columns[3].text.strip())
        ratings.append(columns[4].text.strip())

    # Create a DataFrame
    df = pd.DataFrame({'Serial': range(1, 11), 'Team': teams, 'Matches': matches, 'Points': points, 'Rating': ratings})

    return df

# Scrape top 10 ODI women's teams
odi_women_teams_df = scrape_odi_women_teams()
print('----------------------------------------')
print("Top 10 ODI Teams in Women's Cricket")
print('----------------------------------------')
odi_women_teams_df

----------------------------------------
Top 10 ODI Teams in Women's Cricket
----------------------------------------

   Serial              Team Matches Points Rating
0       1    Australia\nAUS      21  3,603    172
1       2      England\nENG      28  3,342    119
2       3  South Africa\nSA      26  3,098    119
3       4        India\nIND      27  2,820    104
4       5   New Zealand\nNZ      25  2,553    102
5       6   West Indies\nWI      27  2,535     94
6       7     Thailand\nTHA      11    821     75
7       8   Bangladesh\nBAN      14    977     70
8       9     Pakistan\nPAK      27  1,678     62
9      10     Sri Lanka\nSL       9    479     53

In [124]:
# Function to scrape and create DataFrame for top 10 women's ODI batting players
def scrape_odi_women_batsmen():
    # Send a GET request to the website
    page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

    # Create a BeautifulSoup object to parse the HTML content
    soup = BeautifulSoup(page.content, 'html.parser')

    # Find the table containing batsmen rankings
    table = soup.find('table', class_='table')

    if table is None:
        print("Table not found. Please check the URL and the webpage structure.")
        return None

    # Extract the data from the table
    batsmen = []
    teams = []
    ratings = []

    rows = table.find_all('tr')
    for i, row in enumerate(rows[1:11], 1):
        columns = row.find_all('td')
        batsmen.append(columns[1].text.strip())
        teams.append(columns[2].text.strip())
        ratings.append(columns[3].text.strip())

    # Create a DataFrame
    df = pd.DataFrame({'Serial': range(1, 11), 'Batswoman': batsmen, 'Team': teams, 'Rating': ratings})

    return df

# Scrape top 10 women's ODI batting players
odi_women_batsmen_df = scrape_odi_women_batsmen()
print('----------------------------------------')
print("Top 10 Women's ODI Batting Players")
print('----------------------------------------')
odi_women_batsmen_df

----------------------------------------
Top 10 Women's ODI Batting Players
----------------------------------------

   Serial            Batswoman Team Rating
0       1          Beth Mooney  AUS    754
1       2      Laura Wolvaardt   SA    732
2       3       Natalie Sciver  ENG    731
3       4          Meg Lanning  AUS    717
4       5     Harmanpreet Kaur  IND    716
5       6      Smriti Mandhana  IND    714
6       7  Chamari Athapaththu   SL    673
7       8         Ellyse Perry  AUS    626
8       9       Tammy Beaumont  ENG    595
9      10      Stafanie Taylor   WI    588

In [127]:
# Function to scrape and create DataFrame for top 10 women's ODI all-rounders
def scrape_odi_women_allrounders():
    # Send a GET request to the website
    page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

    # Create a BeautifulSoup object to parse the HTML content
    soup = BeautifulSoup(page.content, 'html.parser')

    # Find the table containing all-rounder rankings
    table = soup.find('table', class_='table')

    # Extract the data from the table
    allrounders = []
    teams = []
    ratings = []

    rows = table.find_all('tr')
    for i, row in enumerate(rows[1:11], 1):
        columns = row.find_all('td')
        allrounders.append(columns[1].text.strip())
        teams.append(columns[2].text.strip())
        ratings.append(columns[3].text.strip())

    # Create a DataFrame
    df = pd.DataFrame({'Serial': range(1, 11), 'All-Rounder': allrounders, 'Team': teams, 'Rating': ratings})

    return df
# Scrape top 10 women's ODI all-rounders
odi_women_allrounders_df = scrape_odi_women_allrounders()
print('----------------------------------------')
print("Top 10 Women's ODI All-Rounders:")
print('----------------------------------------')
odi_women_allrounders_df

----------------------------------------
Top 10 Women's ODI All-Rounders:
----------------------------------------

   Serial        All-Rounder Team Rating
0       1    Hayley Matthews   WI    373
1       2     Natalie Sciver  ENG    371
2       3       Ellyse Perry  AUS    366
3       4     Marizanne Kapp   SA    349
4       5        Amelia Kerr   NZ    336
5       6      Deepti Sharma  IND    322
6       7   Ashleigh Gardner  AUS    292
7       8      Jess Jonassen  AUS    250
8       9           Nida Dar  PAK    232
9      10  Sophie Ecclestone  ENG    205

## Q5. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
i) Headline
ii) Time
iii) News Link

In [130]:
# Function to extract headline and link from news articles
def extract_headline_and_link(article):
    headline = article.find('a').text.strip()
    link = 'https://www.cnbc.com' + article.find('a')['href']
    return headline, link

# Function to extract date and time from news articles
def extract_date_and_time(article):
    date_element = article.find('time')
    if date_element is not None and 'datetime' in date_element.attrs:
        date = date_element['datetime'].split('T')[0]
        time = date_element.text.strip().split()[-2]
    else:
        date = 'Not available'
        time = 'Not available'
    return date, time

# Send a GET request to the website

page = requests.get('https://www.cnbc.com/world/?region=world')

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(page.content, 'html.parser')

# Find all the news articles
articles = soup.find_all('div', class_='Card-titleContainer')

# Extract headline and link for each article
headline_link_data = [extract_headline_and_link(article) for article in articles]
headlines, links = zip(*headline_link_data)

# Extract date and time for each article
date_time_data = [extract_date_and_time(article) for article in articles]
dates, times = zip(*date_time_data)

# Create a DataFrame
df = pd.DataFrame({'Headline': headlines, 'Date': dates, 'Time': times, 'News Link': links})

# Display the DataFrame
df

,Headline,Date,Time,News Link
0,Mastercard's stock has outperformed Visa's ove...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
1,Here’s why Shake Shack’s recent deal with Enga...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
2,Russia carries out intense missile and drone s...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
3,Ukraine set to get F-16 fighter jets; Russian ...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
4,German economy enters recession as first-quart...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
5,"Without a hint of irony, Putin rages against c...",Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
6,Russia says it'll react 'extremely harshly' to...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
7,Solar investment set to overtake oil productio...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
8,France bans short-haul flights as it looks to ...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
9,"Cacti, wild coffee and false bananas: Scientis...",Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
10,Offshore wind farms in North Sea powered down ...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
11,GM-backed company works on a wall of floating ...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
12,Consumers are starting to fire up China's pand...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
13,"China's travel recovery gets more attention, b...",Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
14,How one family turned a job loss into an oppor...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
15,Scientists propose long Covid definition based...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
16,Paxlovid: FDA approves Pfizer Covid treatment ...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
17,"China's travel recovery gets more attention, b...",Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
18,The great email debate: to check or ignore it ...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
19,Trading is the 'perfect' job for traveling the...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
20,"No, you can’t ride a lion — why more companies...",Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
21,How to explore Greece's lesser-known islands l...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
22,Free wellness activities in 5 major U.S. citie...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
23,Content creators bring in up to $150/hour film...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
24,34-year-old makes up to $167 an hour nannying ...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
25,How Janie Deegan built Janie's Life-Changing B...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...
26,Top 10 cheapest places in the U.S. to buy a be...,Not available,Not available,https://www.cnbc.comhttps://www.cnbc.com/2023/...

## Q6. Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

## Q7. Write a python program to scrape mentioned details from dineout.co.in and make data frame
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL